/* roboto-400 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-v27-latin-regular.woff2'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
}
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/roboto-v27-latin-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  }

* {
    padding: 0;
    margin: 0;
} 

/*------------------------------- header -------------------------------------------*/

header {
    background-image: url('/assets/img/top-section-back.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
}

.navigation-container {
    display: flex;
    justify-content: center;
    grid-gap: 104px 672px ;
    }

.navigation-items {
    display: flex;
    justify-content: center;
}

.header-logo {
    width: 205px;
    height: 40px;
    left: 104px;
    top: 51px;
    color: #3077C6;
    ;
}

.navigation-item {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.nav--item-text {
    display: flex;
}

.navigation-items>.nav--item-text>p>a {
    text-decoration: none;
    color: #ffffff;
    margin-top: 57px;
}

.stays-item {
    margin: 57px 12px 0;
}

.nav--item-text>.navigation-item a:hover {
    border-bottom: 4px solid #F5BD41;
}

.attraction-item {
    margin: 57px 24px 0 12px;
}

.night-logo {
    height: 30px;
    width: 30px;
    margin: 56px 12px 5px 24px;
    border-radius: 0px;
}

.account-circle-logo {
    height: 40px;
    width: 40px;
    margin: 51px 12px 0;
    border-radius: 0px;
}

.content-input-box {
    height: 487px;
    width: 1232px;
    margin: 196px auto 0;
}

.input-title {
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    height: 118px;
    width: 542px;
    color: #ffffff;    
}

.input-panel-inform {
    margin-top: 100px;
}

.hotel-name-text {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 24px;
    color: #ffffff;
}

.date-text {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-left: 221px;
}

.input-panel-text {
    display: flex;
    margin-bottom: 24px;
}

.forms {
    width: 1223px;
    height: 64px;
    border-radius: 8px;
    color: #383838;
    background-color: #FFFFFF;
}

.city-input-item {
    width: 462px;
    height: 58px;
    font-family: Roboto;
    font-size: 18px;
    border: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 8px;
}

.date-out-item {
    display: none;
}

.date-in-item {
    width: 259px;
    height: 53px;
    padding-top: 5px;
    border: 3px solid #F5BD41;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 8px;
}

.guests-input-item {
    width: 301px;
    height: 58px;
    border: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    
}

.search-input-item {
    width: 192px;
    height: 64px;
    left: 1144px;
    top: 556px;
    background: #3077C6;
    border-radius: 8px;
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: -10px;
    cursor: pointer;
}

.devise-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.google-play-logo {
    margin-right: 17px;
}

/*--------------------------------------- main -------------------------------------------- */



/*--------------------------- offer ---------------------------*/

h2 {
    height: 47px;
    width: 306px;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 120px;
}

hr {
    height: 4px;
    width: 100px;
    border-radius: 0px;
    background-color: #F5BD41;
    margin-top: 20px;
    margin-bottom: 80px;
    border: none;
}

.offer-items {
    height: 569px;
}

.head-offer-items {
    display: grid;
    justify-items: center;
}

.offer-container {
    display: grid;
    justify-items: center;
}

.icon-item {
    display: flex;
    justify-content: center;
}

.support-icon {
    width: 296px;
    height: 176px;
    display: grid;
    justify-items: center; 
}

.support-icon>a>svg {
    height: 92px;
    width: 75px;
    left: 13px;
    top: 4px;
    border-radius: 0px;  
}

.communicate-icon {
    width: 296px;
    height: 176px;
    display: grid;
    justify-items: center;
}

.communicate-icon>a>svg {
    height: 83px;
    width: 83px;
    left: 8px;
    top: 8.px;
    border-radius: 0px;  
}

.book-icon {
    width: 296px;
    height: 176px;
    display: grid;
    justify-items: center;
}

.book-icon>a>svg {
    height: 67px;
    width: 100px;
    left: 0px;
    top: 17px;
    border-radius: 0px;
    }

.reviews-icon {
    width: 296px;
    height: 176px;
    display: grid;
    justify-items: center;
}

.reviews-icon>a>svg {
    height: 83px;
    width: 92px;
    left: 4px;
    top: 4px;
    border-radius: 0px;
}

.item-icons {
    display: grid;
    align-items: end;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

/*--------------------- guests page ---------------------*/

.guests-container {
    background-color: #EAF0F9;
    height: 828px;
}

.guests-section-title {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #383838;
    text-align: center;
    padding-top: 120px;
}

.guests-container-item {
    display: inline-block;
    margin: 8px;
}

.image-container {
    margin: 96px auto 112px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.guests-container-item>img {
    width: 296px;
    height: 296px;  
}

.image-item-name {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    margin: 24px 0;
}

figcaption>a {
    text-decoration: none;
}

.guests-container-item>p {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #BFBFBF;
}

/*------------------- destination section -------------------*/
.destination-section-title {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #383838;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 104px;
} 

.destimation--section {
    height: 958px;
}

.content-section {
    width: 1440px;
    margin: 0 auto;
}

.navi-item {
    display: flex;
    margin-left: 104px;
}

.navi-item>li {
    list-style: none;
} 

.destination-nav-item {
    height: 64px;
    width: 192px;
    border-radius: 8px;
    display: grid;
    place-items: center;
}

.destination-place-item {
    width: 238px;
}

.destination-image-block {
    display: flex;
    justify-content: center;
    grid-column-gap: 15px;
}

.destination--navigation {
    margin-bottom: 65px;
}

.destination-nav-item>a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #383838;
}

.destination-nav-item>a:hover {
    color: #ffffff;
    height: 64px;
    width: 192px;
    display: grid;
    place-items: center;
    background: #3077C6;
    border-radius: 8px;
}

.destination-place-item>a:hover {
    width: 238px;
}

.next-content-page>a>svg {
    width: 19px;
    height: 7px;
}

.next-content-page {
    margin: 48px auto 120px;
    width: 40px;
    height: 40px;
    border: 1px solid #383838;
    border-radius: 100%;
    display: grid;
    place-items: center;
}

/*----------------------- sign-up section -----------------------*/

.sign-up-section {
    width: 1440px;
    height: 200px;
    background-color: #EAF0F9;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.sugn-up-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    height: 86px;
    width: 86px;
    border-radius: 100%;
    background-color: #ffffff;
}

.sugn-up-icon-people>a>svg {
    height: 44px;
    width: 33px;   
}

.sugn-up-icon-plus>a>svg{
    height: 19px;
    width: 19px;
    margin: 26px 0px 0px -6px;
}

.sign-up--button {
    width: 128px;
    height: 48px;
    border: 1px solid #3077C6;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #3077C6;
    border-radius: 8px;
    cursor: pointer;
}

.sign-up--text-item {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 21px;
}

/*------------------ Guest reviews section ------------------*/

.reviews-container {
    height: 1161px;
    width: 1440px;
    margin: 0 auto;
    }

.guest-reviews-section-title {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #383838;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 104px;
} 

.reviews--section-items {
    display: flex;
    justify-content: center;
    grid-gap: 16px;
}

.place-revievs-item {
    color: #3077C6;
    ;}

.place-raiting {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin: 24px 35px 30px 24px;
}

.reviews-img-item {
    width: 400px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #EAF0F9;
}

.item-of-place {
    font-weight: 500;
}

.country-city-place {
    margin-top: 16px;
}

.reviews-raiting {
    display: grid;
    justify-items: end;
}

.raiting-item {
    margin-bottom: 8px;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 8px;
    width: 48px;
    height: 32px;
    background-color: #10367C;
    color: #FFFFFF;

}

.reviews {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #BFBFBF;
}

.reviews-img-text-item {
    display: flex;
}

.guest-reviews-icon {
    margin-left: 29px;
}

.location-of-the-commentator {
    margin-left: 21px;
}

.guest-reviews-icon>a>svg {
    height: 53px;
    width: 53px;
}

.reviews-text-item {
    margin: 22px 24px 66px;
}

.text-on-img {
    position: relative;
    background-color: #383838B2;
    margin-top: -52px;
    padding: 16px 24px 11px;
    color: #FFFFFF;
}



/*------------------------------ footer ------------------------------*/

footer {
    height: 630px;
    background-color: #10367C;
}

.logo-footer {
    display: none;
}

.footer-list {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 104px;
    list-style: none;
}

.footer-menu {
    margin-top: 120px;
}

.text-head {
    height: 28px;
    width: 131px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
}

.text-item {
    height: 23px;
    width: 122px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    margin-top: 24px;
}

.footer-list>.footer-menu>ul>li {
    list-style: none;
}

.footer-list>.footer-menu>ul>li>a {
    text-decoration: none;
    white-space: nowrap;
    color: #ffffff;
}

.bottom-signature {
    margin-top: 64px;
    margin-left: 103px;
    color: #ffffff;
}


/*--------------------------------------- media ---------------------------------------*/

@media screen and (max-width: 1223px) {
    .icon-item {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
    }
    hr {
        margin-bottom: 40px;
    }

    .support-icon {
        height: 130px;
        margin-bottom: 40px;
    }
    .communicate-icon {
        height: 130px;
    }
    .book-icon {
        height: 130px;
    }
    .reviews-icon {
        height: 130px;
    }
}


@media screen and ( max-width: 768px) {

/*----------------------------- header -----------------------------*/



/*----------------------------- offer -----------------------------*/

    .offer-items {
        height: 641px;
    }

    h2 {
        width: 214px;
        height: 33px; 
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0em;
        margin-top: 24px;
        margin-bottom: 32px;
    }
    
    hr {
        display: none;
    }

    .icon-item {
        display: grid;
        grid-template-columns: 100%;

    }

    .icon-item>div {
        height: 104px;
        width: 214px; 
    }

    .support-icon>a>svg {
        height: 64px;
        width: 53px;
    }

    .support-icon {
        margin-bottom: 37px;
    }

    .communicate-icon>a>svg { 
        height: 64px;
        width: 53px;
    }

    .communicate-icon {
        margin-bottom: 44px;
    }

    .book-icon>a>svg {
        height: 47px;
        width: 70px;
    }

    .book-icon {
        margin-bottom: 35px;
    }

    .reviews-icon>a>svg {
        height: 58px;
        width: 64px;
    }

    .reviews-icon {
        margin-bottom: 40px;
    }

    .item-icons {
        display: grid;
        align-items: end;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
    }

    /*----------------------------- guests -----------------------------*/

    /*----------------------------- destimation -----------------------------*/

    /*----------------------------- sign-up -----------------------------*/

    /*----------------------------- guest-reviews -----------------------------*/
    

    /*-------------------------- footer --------------------------*/

    footer {
        height: 203px;
    }

    .text-item {
        display: none;
    }

    .logo-footer {
        display: grid;
        justify-content: center;
        padding-top: 40px;       
    }

    .logo-footer>a>svg {
        justify-content: center;
        height: 19px;
        width: 98px;
    }

    .footer-menu {
        margin: 40px 67px 32px 67px;
    }

    .footer-list {
        margin: 0;
        grid-column-gap: 16px;
        grid-template-columns: 45px 98px 54px;
        place-items: center;
        justify-content: center;

    }

    .text-head {
        display: grid;
        justify-content: center;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-decoration-line: underline;
        text-align: center;
    }

    .bottom-signature {
        margin: 0;
        display: grid;
        place-items: center;
        justify-content: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
    }

}


