* {
    padding: 0;
    margin: 0;
}

.container {
    height: 569px;
    width: 1440px;
}

h1 {
    height: 47px;
    width: 306px;
    margin-left: 567px;
    margin-top: 120px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

hr {
    height: 4px;
    width: 100px;
    margin-left: 670px;
    margin-top: 20px;
    border: none;
    
    background: #F5BD41;

}

.image-item {
    display: flex;
}

.support {
    width: 296px;
    height: 176px;
    margin-left: 104px;
    margin-top: 84px;
    /* padding-left; 105px:   */
}

.support>a>img {
    padding-top: 4px;
    padding-left: 105px;
    padding-bottom: 52px;

}

.comm {
    width: 296px;
    height: 178px;
    margin-top: 88px;
}

.comm>a>img {
    padding-top: 8px;
    padding-left: 105px;
    padding-bottom: 56px;
}

.book {
    width: 296px;
    height: 184px;
    margin-top: 88px;
}

.book>a>img {
    padding-top: 16px;
    padding-left: 98px;
    padding-bottom: 64px;
}

.rev {
    width: 296px;
    height: 183px;
    margin-top: 84px;
}

.rev>a>img {
    padding-top: 4px;
    padding-left: 102px;
    padding-bottom: 61px;
}

p {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    }